.div3 {
    text-align: left;
    background-color: white;
    border: 6px solid #30217a;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 50%);
    border-radius: 60px;
    border-bottom-left-radius: 0;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 19px;
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
}
